.main-grid-container {
	grid-row-gap: 1rem;
}

/* 1 row grid for cart */
.cart-grid {
	display: grid; 
	grid-template-columns: repeat(5, 1fr);
	grid-column-gap: 2rem;
	grid-template-rows: 2fr;
	grid-row-gap: 0;
	margin-bottom: 2rem;

	text-align: center;
}

/* image sizing for product images in cart */
.product-img {
	width: 100%;
	height: auto;
}

/* product name */
.product-name {
	grid-column: 1 / 2;
	grid-row: 2 / 3;
	font-size: 1.2rem;
}

/* cart headings */
.cart-categories {
	margin-bottom: 0;
	color: #C6B09D;
}

/* container for cart product details */
.detail-container {
	text-align: center;
}

/* cart product details */
.details {
	display: inline-block;
	text-align: left;
}

/* override margin positioning for quantity box */
.quantity {
	margin-top: 1rem;
	margin-bottom: 0;
}

/* container for subtotal*/
.subtotal-container {
	text-align: right;
	grid-column: 9 / 12;
}

/* subtotal price */
.subtotal-price {
	font-size: 1.4rem;
	display: inline-block;
	padding-left: 1rem;
	margin-top: 0;
}

/* subtotal heading */
.subtotal {
	display: inline-block;
	margin-top: 0;
}

.cta-button {
	padding: 0.6rem 4rem;
}


/* --------------- MEDIA QUERIES ---------------- */
@media screen and (max-width: 65em) {
	.cart-categories {
		display: none;
	}

	/* 1 row grid for cart */
	.cart-grid {
		grid-template-columns: repeat(2, 1fr);
		grid-column-gap: 2rem;
		grid-template-rows: 5fr;
		grid-row-gap: 0;
		text-align: left;
	}

	.product-img {
		grid-row: 1 / 5;
	}

	.detail-container {
		text-align: left;
	}

	.total {
		display: none;
	}

	.price {
		grid-row: 2 / 3;
	}

	/* product name */
	.product-name {
		grid-column: 2 / 3;
		grid-row: 1 / 2;
	}
}

@media screen and (max-width: 57em) {
	/* container for subtotal*/
	.subtotal-container {
		text-align: right;
		grid-column: 7 / 12;
	}
}

@media screen and (max-width: 37em) {
	.cart-grid {
		grid-template-columns: 1.5fr 1fr;
		grid-column-gap: 2rem;
	}
}

@media screen and (max-width: 37em) {
	.cart-grid {
		grid-template-columns: 2fr 1fr;
		grid-column-gap: 2rem;
		grid-template-rows: 2fr;
	}

	.product-img {
		grid-column: 1 / 3;
		grid-row: 1 / 2;
	}

	.product-name {
		grid-column: 1 / 2;
		grid-row: 2 / 3;
		font-size: 1.7rem;
	}

	.price {
		grid-column: 1 / 2;
		grid-row: 3 / 4;
		margin-top: 3.5rem;
	}

	.customization { 
		grid-column: 1 / 2;
		grid-row: 4 / 5;
	}

	.qt {
		grid-column: 2 / 3;
		grid-row: 4 / 5;
		bottom: 0;
	}

	.subtotal-container {
		text-align: right;
		grid-column: 2 / 12;
	}

	.cta-button {
		/*padding: 0.6rem 15rem;*/
		display: block;
		left: 0;
		right: 0;
		text-align: center;
	}

}

@media screen and (max-width: 32em) {
	/* container for subtotal*/
	.subtotal-container {
		text-align: right;
		grid-column: 5 / 12;
	}
}



/* ---------------------------------------------- */