
.main-grid-container {
    grid-row-gap: 2rem;
}

/* ------------ CHECKOUT ELEMENTS ----------------- */

form#checkout {
    padding: 0 0 2.5rem  0;
}

form#checkout-forms {
    padding: 0;
}

/* header 2 in order summary container */
#order-sum .order-sum-ex h2 {
	/* padding: 1.7rem 0; */
	padding-bottom: 1.5rem;
	margin: 0;
	text-align: center;
}

#order-sum form {
	align-items: center;
}

form {
	background-color: #F4F4F4;
	padding: 2rem 4rem;
}

#order-sum .cta-button {
    margin-top: 2rem;
	padding: 0.6rem 3.2rem;
	margin-bottom: 0rem;
}

.cta-container {
	display: flex;
	flex-direction: column;
	align-items: center;
    float: right;
}

.order-summary-grid {
	display: grid;
	grid-column: 1 / 4;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 6rem;
	grid-template-rows: 5fr;
	grid-row-gap: 1rem;
    border-bottom: 0.5px solid #6D716F;
}

.order-summary-labels p:last-child {
    padding-bottom: 2rem;
}

/* main (grey) container for checkout */
.checkout-container {
    grid-column: 2 / 8;
    background-color: #F4F4F4;
    display: grid; 
	grid-template-columns: repeat(10, 1fr);
	grid-column-gap: 1rem; 
	grid-template-rows: 6rem;  
    grid-row-gap: 0;  
    padding-bottom: 2rem;
}

/* checkout summary container */
.checkout-order-summary-container{
    padding-left: 3rem;
    grid-column: 8 / 12;

    grid-template-columns: repeat(6, 1fr);

}

/* sticky position for order summary*/
.first-pattern-ex {
    position: sticky;
    top: 3.2rem;
}

/* container for checkout h2 */
.checkout-h2-container{
    grid-column: 2 / 8;
    margin-top: 2.25rem;
}

.checkout-h2-container.two{
    border-top: 0.5px solid #6D716F;
    padding-top: 2rem;
    grid-column: 1 / 8;
}

.checkout-h2-container.three{
    border-top: 0.5px solid #6D716F;
    border-bottom: 0.5px solid #6D716F;
    padding-top: 2rem;
    grid-column: 1 / 8;
}

/* grid for first checkout product */
.checkout-img-container {
    grid-column: 2 / 4;
    /* grid-row: 2 / 3; */
}

/* grid for second checkout product */
.checkout-img-container-two{
    grid-column: 4 / 6;
    /* grid-row: 2 / 3; */
}

/* checkout quantity value */
.checkout-quantity{
    text-align: center;
    margin-bottom: 0.5rem;
}

/* container for form elements */
.form-container {
    display: grid;
	grid-column: 2 / 10;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 1rem;
    padding-bottom: 2rem;
}

/* form boxes that span all the way */
.full-span-forms {
    grid-column: 1 / 7;
}

/* form boxes that span half way (left column) */
.half-span-forms-left {
    grid-column: 1 / 4;
    /*padding-right: 2rem;*/
}

/*  form boxes that span half way (right column) */
.half-span-forms-right {
    grid-column: 4 / 7;
    /*padding-left: 1rem;*/
}

/* billing boxes that span half way (left column) */
.billing.half-span-forms-left {
    padding-right: 2rem;
}

/*  billing boxes that span half way (right column) */
.billing.half-span-forms-right {
    padding-left: 1rem;
}

/*  form boxes that span one third of the way (left column) */
.third-span-forms-left {
    grid-column: 1 / 3;
}

/*  form boxes that span one third of the way (middle column) */
.third-span-forms-middle {
    grid-column: 3 / 5;
}

/*  form boxes that span one third of the way (right column) */
.third-span-forms-right {
    grid-column: 5 / 7;
}


/* ----- PAYMENT OPTIONS ------ */

/* for card images */
.span-card-img {
    width: 60%;
    margin-left: -2rem;
    margin-right: -2rem;
}

.payment-options {
    grid-column: 1 / 7;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 0rem;
    margin-bottom: 1rem;
    text-align: center;
}



[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

[type=radio] + img {
    cursor: pointer; 
}

[type=radio]:checked + img { 
    border: 2px solid #C98F7D;
    border-radius: 21px;
}


/* -----------------------------*/

/* input boxes */
input#fname-input, input#lname-input, input#address-input, input#phone-input, input#email-input, input#city-input, input#province-input, input#postal-input, input#card-name-input, input#card-num-input, input#month-input, input#year-input, input#cvc-input {
    border-radius: 0.5rem;
	border: 1.8px solid #A9A2A1;
	padding-bottom: 0.5rem;
	margin-bottom: 1rem;
    width: 100%;
}

/* checkout form element padding */
#checkout-forms form{
    padding: 0;
}

/* h1 for checkout and review page */
.h1-checkout {
    margin-bottom: 0;
}


/* BREADCRUMB BAR FOR CHECKOUT REFERENCED FROM 
https://stackoverflow.com/questions/19642308/creating-css3-circles-connected-by-lines*/
#breadcrumb-bar {
    grid-column: 2 / 12;
    
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-bottom: 0rem;
}



/* --------- END OF CHECKOUT ELEMENTS ------------ */





/* ---------- REVIEW ORDER ELEMENTS ---------------- */

.name-info {
    font-weight: 600;
}

.personal-info {
    margin: 0.3rem 0;
}

.billing-card-img {
    margin-top: 0.5rem;
    width: 65px;
}

form input{
	width: auto;
}

/* ------- END OF REVIEW ORDER ELEMENTS ------------ */





/* ------------- MEDIA QUERIES --------------- */
@media (max-width: 78rem) {
    form {
        padding: 2rem 2.5rem;
    }
}

@media (max-width: 75rem){
    .checkout-order-summary-container {
        padding-left: 0.5rem;
    }
}

@media (max-width: 70rem){
    .checkout-img-container {
        grid-column: 2 / 4;
    }
    
    .checkout-img-container-two{
        grid-column: 4 / 6;
    }
}

@media (max-width: 62rem){
    .checkout-container {
        grid-column: 2 / 12;
        padding-bottom: 0;
    }

    .checkout-order-summary-container{
        padding-left: 0rem;
        grid-column: 2 / 12;
    }

    .h1-checkout {
        margin-bottom: 3rem;
    }

    .order-summary-info {
        display: inline;
    }

    .order-summary-con {
        padding: 0 5rem 2.5rem 5rem;
    }

    #order-sum .order-sum-ex h2 {
        text-align: left;
		padding: 2.5rem 0 1.5rem 0;
        border-top: 0.5px solid #6D716F;
	}

    #order-sum .cta-button {
        margin-top: 2rem;
        padding: 0.6rem 3.2rem;
    }

    .h1-checkout {
        margin-bottom: 2rem;
    }

    #breadcrumb-bar {
        margin-bottom: 2rem;
    }
}

@media (max-width: 55rem){
    #checkout h2{
        font-size: 1.7rem;
    }
}

@media (max-width: 45rem){
    .checkout-quantity{
        font-size: 0.8rem;
    }

    .order-summary-con {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    #order-sum .cta-button {
        width: 100%;
    }

    .cta-container {
        width: 100%;
    }
}

@media (max-width: 40rem) {
    .checkout-img-container {
        grid-column: 2 / 5;
    }
    
    .checkout-img-container-two {
        grid-column: 5 / 8;
    }

    .order-summary-con {
        /*padding-left: 3rem;
        padding-right: 3rem;*/

        padding-left: 11%;
        padding-right: 11%;
    }


    #breadcrumb-bar {
        margin-bottom: 1.5rem;
    }

    .h1-checkout {
        margin-bottom: 1rem;
    }
}

@media (max-width: 37rem) {
    .checkout-container {
        grid-column: 1 / 13;
        margin: 0 1rem 0 1rem;
    }

    .checkout-order-summary-container {
        grid-column: 1 / 13;
        margin: 0 1rem 0 1rem;
    }

    label {
        font-size: 0.8rem;
    }
}

@media (max-width: 30rem) {
    /* form boxes that span half way (left column) */
    .half-span-forms-left {
        grid-column: 1 / 8;
        padding-right: 0;
    }

   /*  form boxes that span half way (right column) */
    .half-span-forms-right {
        grid-column: 1 / 8;
        padding: 0;
    }

    .billing.half-span-forms-right {
        grid-column: 1 / 8;
        padding: 0;
        margin-top: 1rem;
    }

    .full-span-forms {
        grid-column: 1 / 8;
    }

    .third-span-forms-left {
        grid-column: 1 / 4;
    }

    .third-span-forms-middle {
        grid-column: 4 / 8;
    }

    .third-span-forms-right {
        grid-column: 1 / 8;
    }

    .span-card-img {
        width: 100%;
    }

    .payment-options {
        grid-column-gap: 1rem;
    }
}

@media (max-width: 24rem) {
    .order-summary-grid {
        grid-column-gap: 2.75rem;
    }

    .order-summary-labels p {
        font-size: 1rem;
    }

    .order-summary-prices p {
         font-size: 1rem;
    }
}


/* ---------- END OF MEDIA QUERIES ----------- */