/* --------- PARALLAX SCROLLING STYLING --------- */

/* ---------------------------------------------- */


/* ------ HEADER SECTION ----------- */

.header-section {
	max-width: 100%;
	height: 100vh;
	background: url(../img/ceramic-home.png);
	/*background-size: cover;
	background-position: center ;
	background-repeat: no-repeat;	*/
    text-align: right;
   /* position: relative;*/

   /* parallax referenced from https://www.w3schools.com/howto/howto_css_parallax.asp */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
}

.header-section h1 {
	/* 57.6px to rem */
	font-size: 4.2rem;
	/* color: rgb(191, 164, 147); */
	color: rgb(177, 148, 131);

	margin-top: 5rem;
	max-width: 18ch;
}


.home-hero-title { 
	/*grid-area: home-hero-title;*/
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	text-align: right;
}

#home-page-quote {
	position: relative;
}

.home-quote {
	grid-area: home-quote;
}

.home-img {
	width: 100%;
	height: auto;
}

.decorative-box {
	grid-column: 2 / 4;
	grid-row: 1 / 5;
	content: '';
	border-right: 2.75px solid #A9A2A1;
	height: 120%;
	width: 90%;
	position: absolute;
	top: 6.5rem;
	bottom: 5rem;
}

/*.arrow-down {
	grid-area: arrow-down; 
	text-align:center;
	padding-top: 8.4rem;
	margin-bottom:0;
}*/

/* about CRH studios blurb */
#home-page-about-blurb p {
	/*text-align: justify;*/
	padding-right: 2.2rem;
}

/*.arrow-down a {
	font-size: 5rem;
	text-decoration: none;
}

.arrow-down a:hover, a:focus {
	color: #6D716F;
	transition-property: color; 
	transition-duration: 0.3s; 
	transition-timing-function: ease-out;
}*/


.blurb {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.blurb h2 {
	margin-top: 0;
}

.meet-the-artists {
	bottom: 0;
	align-items: flex-end;
}


/* Home Page Quote */
.quote {
	text-align: center;
}

.quote h2 {
	font-size: 2.2rem;
	color: #85807d;
	padding: 7rem 20% 7rem 20%;
}


/*.home-featured-items {
	grid-area: home-featured-items;
}*/

.home-line {
	/*grid-area: home-line;*/
	width: 100%;
}

.home-view-products {
	padding-top: 2.2rem;
	/*grid-area: home-view-products;*/
	text-align: right;
}

/* HR line for feature on homepage*/
hr.style2 {
	margin-top: 3.15rem;

	border-top: solid 0.5px #A9A2A1;
}

/* view all link character width*/
.view-all {
	min-width: 18ch;
}

/* featured items character width */
.featured-items {
	min-width: 13ch;
}
/*---------------------------------------*/





/* ----------- MEDIA QUERIES ------------- */

@media screen and (max-width: 82em) {
	.home-img {
		margin-top: 5rem;
	}
}

@media screen and (max-width: 77em) {
	.quote h2 {
	    padding: 6rem 15% 6rem 15%;
	}
}

@media screen and (max-width: 70em) {
	.home-img {
		margin-top: 0;
	}

	#home-page-about-blurb p {
		padding-right: 0;
		max-width: 66ch;
		margin-top: 0;
	}

	.meet-the-artists {
		margin-top: 1rem;
	}
}

@media screen and (max-width: 68em) {
	.header-section h1 {
		/*margin-top: 2.8rem;*/
		font-size: 4rem;
	}
}

@media screen and (max-width: 66em) {
	.quote h2 {
	    padding: 6rem 20% 6rem 0;
	    text-align: left;
	}

	.decorative-box {
	    width: 92%;
	}
}

@media screen and (max-width: 58em) {
	.quote h2 {
	   padding: 6rem 28% 6rem 0;
	}

	.decorative-box {
	    width: 87%;
	}
}

@media screen and (max-width: 54em) {
	.header-section h1 {
		font-size: 3.8rem;
		max-width: 15ch;
		margin-top: 1.5rem;
	}
}

@media screen and (max-width: 50em) {
	.quote h2 {
	  padding: 6rem 25% 6rem 0;
	}

	.decorative-box {
	    width: 92%;
	}
}

@media screen and (max-width: 48em) {
	.quote h2 {
	  padding: 3rem 25% 3rem 0;
	  font-size: 1.9rem;
	}

	#home-page-about-blurb p {
		padding-right: 0;
		max-width: none;
	}

	.decorative-box {
	    width: 92%;
	    top: 3.5rem;
	}
}

@media screen and (max-width: 46em) {
	.header-section {
		background-image: url(../img/home-page-small.png);
	}

	.header-section h1 {
		padding-top:2rem;
	}
}


@media screen and (max-width: 24em) {
	.header-section {
		background-image: url(../img/home-page-mobile.png);
		
	}
}



@media screen and (max-width: 37em) {
	.quote h2 {
	  padding: 3rem 25% 3rem 0;
	  font-size: 1.9rem;
	}

	.decorative-box {
	    width: 92%;
	}

	.home-hero-title h1 {
		font-size: 3.5rem;
	}
}

@media screen and (max-width: 34em) {
	.home-hero-title {
		margin-right: 1rem;
	}
}

@media screen and (max-width: 32em) {
	.home-hero-title h1 {
		font-size: 2.5rem;
		margin-top: 4rem;
	}

	.home-line {
		display: none;
	}
}

@media screen and (max-width: 30em) {
	.home-view-products {
		text-align: left;
		padding: 0 0 2rem 0;
	}
}

@media screen and (max-width: 27em) {
	.quote h2 {
	  padding: 3rem 20% 3rem 0;
	  font-size: 1.6rem;
	}
}







/*------------------------------------------*/




