
/* ------------ GENERAL STYLING -------------------- */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Karla', Helvetica, Arial, sans-serif;
	color: #6D716F;
	overflow-x: hidden;
}

h1 {
	color: #6D716F;
	/* 51 px */
	font-size: 3.2rem;
}

h2 {
	color: #C6B09D;
	/* 30 px */
	font-size: 1.9rem;
}

h3 {
	/* 22 px */
	font-size: 1.4rem;
}

h4 {
	/* 20 px */
	font-size: 1.3rem;
}

p, ul, ol {
	/* 18 px*/
	font-size: 1.1rem;
}

hr {
	margin-bottom: 2rem;
	border-top: solid 0.5px #F4F4F4;
}

a {
	color: #C98F7D;
	text-decoration: none;
	font-size: 1.1rem;
}

a:hover, a:focus {
	text-decoration: underline;
	color: #6D716F;
	transition-property: color; 
	transition-duration: 0.3s; 
	transition-timing-function: ease-out;
}

form {
	display: block;
}

/* container for all body content to leave 1 column on either side */
.body-wrapper {
	grid-column: 2 / 12;
}

/* container for all content excluding the nav */
.content-wrapper {
	margin-top: 3rem;
}

/*  ------------- END OF GENERAL STYLING ------------- */



/*  ----------------- FOOTER ------------------- */
footer {
	background-color: #A9A2A1; 
	color: #FFFFFF;
	padding: 2rem;
	margin-top: 3rem;
}

footer a {
	color: #FFFFFF;
	display: block;
}

footer a.social {
	display: inline-block;
}

/* font weight for footer subheadings*/
.footer-heading {
	font-weight: 700;
}

/* contact info in footer */
.footer-contact {
	margin-top: 0rem;
	margin-bottom: 0.2rem;
}

/* contact info in footer */
.footer-line-height {
	line-height: 1.5rem;
}

/* social media icons in the footer */
.social img {
	width: 85%;
	height: auto;
}
/*  -------------- END OF FOOTER --------------- */


/*------------ NAV BAR ---------------- */

nav a {
	display: inline-block;
	color: #6D716F;
	text-decoration: none;
	padding: 0.7rem 1.5rem;
	box-sizing: border-box;
}

nav a:hover, nav a:active, nav a:focus {
	text-decoration: none;
	font-weight: 600;
	transition-property: color; 
	color: #C98F7D;
	transition-duration: 0.1s; 
	transition-timing-function: ease-out;
}

#nav-bar nav {
	background-color: #FFFFFF;
	/*border: 1px solid #F4F4F4;*/
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: nowrap;
	justify-content: flex-end;
	margin-bottom: 1rem;
}

/* images within the nav bar; ie: logo + cart */
#nav-bar img {
	width: 80%;
	height: auto;
}

/* positioning for logo in site nav example */
#nav-bar .logo {
	margin-right: auto;
	padding-left: 0;
}

a.fas { 
	padding-right: 0;
}
/*---------------------------------------*/





/* ------ HEADER SECTION ----------- */

.header {
	width: 100vw;
	height: 100vh;

	background: url(../img/landing-page.png);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.header .header-content {
	padding-top: 5rem;
	padding-right: 4.5rem;
	padding-bottom: 3rem;
	text-align: right;
}

.header .text-container {
	margin-bottom: 3rem;
}

.header h1 {
	/* 57.6px to rem */
	font-size: 3.6rem;
	margin-bottom: 2rem;
}

/* Home Page Quote */
.quote {
	text-align: center;
}

.quote h1 {
	font-size: 1.5rem;
	color: #C6B09D;
	padding-top: 5rem;
	padding-bottom:7rem;
}
/*---------------------------------------*/






/* ------ PRODUCT CARDS ----------- */
/* product card images */
.product-card-img {
	width: 100%;
	height: auto;
}

/* product card header */
.product-card-header {
	margin-top: 4rem;
}

/* product name in product card layouts */
.product-name {
	color: #6D716F;
	margin-top: 0.75rem;
	margin-bottom: 0.5rem;
	font-weight: 700;
}

/* product price in product card layouts */
.product-price {
	color: #6D716F;
	font-weight: 200;
	margin-top: 0.5rem;
}

/* image + product name combination for product cards */
a.product-link {
	text-decoration: none;
}

/* product name + price hover states in product grids */
a.product-link:hover h3, a.product-link:focus h3, a.product-link:active h3 {
	color: #C98F7D;
}

/* product image hover states in product grids */
a.product-link:hover img, a.product-link:focus img, a.product-link:active img {
	transform: scale(1.025);
	transition-property: transform; 
	transition-duration: 0.3s; 
	transition-timing-function: ease-out;
}
/* -------- END  OF PRODUCT CARDS ------------- */


/* ----------- MEDIA QUERIES ----------  */
@media screen and (max-width: 60em) {
	/* image + product name combination for product cards */
	a.product-link h3 {
		font-size: 1.1rem;
	}

	/* product price in product card layouts */
	.product-price {
		margin-top: 0.25rem;
	}

	/* product name in product card layouts */
	.product-name {
		margin-bottom: 0.25rem;
	}
}


@media screen and (max-width: 37em) {
	.body-wrapper {
		grid-column: 1 / 13;
		margin: 0 1rem 0 1rem;
	}

	.content-wrapper {
		margin-top: 1rem;
	}
}

/* --------- END OF MEDIA QUERIES ------- */

