
/* .header-main {
	height: 1.5vh;
} */


/* ------- product listing h1 styling ------- */
/* h1.pr-layout{
	padding: 0 0 1rem 0;
	color: #6D716F;
} */

/* --------------------------------------- */

