#tabs {
	margin-top: 3rem;
	margin-bottom: 3rem;
}

.cta-container {
	width: 100%;
}

.quantity {
	margin: 2rem 0 1rem 0;
}

.tab-content p {
	margin: 1rem 0 1rem 0;
}


/* header for additional info */
.info-header {
	font-size: 1.2rem;
	margin-top: 0rem;
	margin-bottom: 1rem;
}

/* disabled state for cart button */
#add-to-cart:disabled {
	background-color: #F4F4F4;
	color: #C98F7D;
}

/* hidden cart message */
.hidden {
	display: none;
}

/* grey swatch for customization */
.checkmark.grey-gradient {
	background-color: #8E989C;
}

/* black swatch for customization */
.checkmark.black {
	background-color: #252525;
}

/* -------- MEDIA QUERIES ----------- */
@media screen and (max-width: 90rem) {
	.product-finish .cust {
	  display: inline-block;
	}
}

@media screen and (max-width: 76em) {
	.product-finish .cust {
	  display: block;
	}
}

@media screen and (max-width: 66rem) {
	.product-finish .cust {
	 	display: inline-block;
	}

	.artist-name {
		margin-top: 1rem;
	}

	.product-info h1 {
		margin-top: 1rem;
	}
}

@media screen and (max-width: 37rem) {
	.product-info h1 {
		margin-top: 1rem;
	}

	.artist-name {
		margin-top: 2rem;
	}

	.product-info h2 {
		margin-bottom: 0rem;
	}
}

@media screen and (max-width: 27rem) {
	.quantity input {
		padding: 0 22vw 0 40vw;
		max-width: none;
		width: 100%;
	}

	.quantity {
    	margin: 3rem 0 1rem 0;
	}
}
	

/* ----- END OF MEDIA QUERIES -------- */

