#tabs {
	margin-top: 3rem;
	margin-bottom: 3rem;
}

.cta-container {
	width: 100%;
}

.quantity {
	margin: 2rem 0 1rem 0;
}

/* disabled state for cart button */
#add-to-cart:disabled {
	background-color: #F4F4F4;
	color: #C98F7D;
}

/* hidden cart message */
.hidden {
	display: none;
}

/* grey swatch for customization */
.checkmark.grey-gradient {
	background-color: #8E989C;
}

/* black swatch for customization */
.checkmark.black {
	background-color: #252525;
}

/* -------- MEDIA QUERIES ----------- */
@media screen and (max-width: 90rem) {
	.product-finish .cust {
	  display: inline-block;
	}
}

@media screen and (max-width: 76em) {
	.product-finish .cust {
	  display: block;
	}
}

@media screen and (max-width: 66rem) {
	.product-finish .cust {
	  display: inline-block;
	}
}

/* ----- END OF MEDIA QUERIES -------- */

