#tabs {
	margin-top: 3rem;
	margin-bottom: 3rem;
}

/* grey swatch for customization */
.checkmark.grey-gradient {
	background-color: #8E989C;
}

/* black swatch for customization */
.checkmark.black {
	background-color: #252525;
}

/* -------- MEDIA QUERIES ----------- */
@media screen and (max-width: 90rem) {
	.product-finish .cust {
	  display: inline-block;
	}
}

@media screen and (max-width: 76em) {
	.product-finish .cust {
	  display: block;
	}
}

@media screen and (max-width: 66rem) {
	.product-finish .cust {
	  display: inline-block;
	}
}

/* ----- END OF MEDIA QUERIES -------- */

